.skarim {
  padding: 0% 6% 3% 5%;
  width: 50%;
  margin: 0 auto;
}
.skarim .imgLogo {
  margin: 0px 20px;
  float: left;
  width: 300px;
  height: 100px;
}
.skarim .imgLogo1 {
  margin: 0px 40px;
  float: left;
  width: 200px;
  height: 150px;
}
.skarim .link {
  font-size: 1.2em;
  color: rgb(228, 46, 46);
}

@media only screen and (max-width: 999px) {
  .skarim {
    padding: 0% 5% 0% 3%;
    width: 92%;
  }
  .skarim .imgLogo {
    margin: 0px 20px;
    float: left;
    width: 300px;
    height: 100px;
  }
  .skarim .imgLogo1 {
    margin: 0px 40px;
    float: left;
    width: 200px;
    height: 150px;
  }
  .skarim .link {
    font-size: 1.2em;
    color: rgb(228, 46, 46);
  }
}
