.newsletter {
  border: black 2px solid;
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 20% 150px;
  background-color: rgb(228, 228, 228);
  width: 60%;
  height: auto;
}

.newsletter h5 {
  margin: 0px;
}

.newsletter .inputNewsletter {
  border: black 2px solid;
  padding: 5px;
  width: 30%;
  height: 25px;
  border-radius: 20px;
  margin: 10px;
  text-align: center;
}

.newsletter .inputNewsletter:placeholder-shown {
  text-align: center;
  font-size: 16px;
}

.newsletter .btnNewsletter {
  border: black 2px solid;
  width: 15%;
  height: 40px;
  border-radius: 20px;
  margin: 11px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.newsletter .btnNewsletter:hover {
  border-radius: 30px;
  background-color: rgb(156, 156, 156);
  color: white;
}

.newsletter .btnNewsletter:active {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 999px) {
  .newsletter {
    border: black 2px solid;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    margin: 30px auto 50px;
    background-color: rgb(228, 228, 228);
    width: 80%;
    height: auto;
  }

  .newsletter h5 {
    font-size: 0.8em;
    margin: 0px;
  }

  .newsletter .inputNewsletter {
    border: black 2px solid;
    padding: 5px;
    width: 70%;
    height: 25px;
    border-radius: 20px;
    /* margin: 10px; */
    text-align: center;
  }

  .newsletter .inputNewsletter:placeholder-shown {
    text-align: center;
    font-size: 16px;
  }

  .newsletter .btnNewsletter {
    border: black 2px solid;
    width: 35%;
    height: 40px;
    border-radius: 20px;
    margin: 11px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .newsletter .btnNewsletter:hover {
    border-radius: 30px;
    background-color: rgb(156, 156, 156);
    color: white;
  }

  .newsletter .btnNewsletter:active {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
}
