.home {
  padding: 0% 6% 3% 5%;
  width: 50%;
  margin: 0 auto;
}

.home .pchome {
  margin: 0px 20px;
  border-radius: 150px;
  float: left;
  width: 300px;
  height: 300px;
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
  z-index: 1;
}
.home .divli {
  float: right;
}
.home .link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
  color: rgb(55, 0, 252);
  font-size: 1em;
  /* font-weight: bold; */
}

.home .link-button:hover,
.home .link-button:focus {
  color: rgb(55, 0, 252);
  font-size: 1.1em;
}

@media only screen and (max-width: 999px) {
  .home {
    padding: 0% 5% 0% 3%;
    width: 92%;
  }

  .home .pchome {
    margin: 0px 20px 10px 10px;
    border-radius: 20px;
    float: left;
    width: 50%;
    height: 50%;
    filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
    z-index: 1;
  }
  .home .divli {
    float: right;
  }
  .home .link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: inline;
    margin: 0;
    padding: 0;
    color: rgb(55, 0, 252);
    font-size: 1em;
    font-weight: bold;
  }

  .home .link-button:hover,
  .home .link-button:focus {
    color: rgb(55, 0, 252);
    font-size: 1.1em;
  }
}
