.App {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.App .bar {
  height: 60px;
  width: 100%;
  align-items: center;
  position: fixed;
  background-color: rgb(228, 228, 228);
  z-index: 2;
}
/* .aaa-001 {
  animation-name: aaa;
  -webkit-animation-name: aaa;

  animation-duration: 3s;
  -webkit-animation-duration: 1s;

  animation-timing-function: step-start;
  -webkit-animation-timing-function: step-start;

  visibility: visible !important;
}

@keyframes aaa {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes aaa {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(1000%);
  }
} */
.App .allURL {
  width: 65%;
  margin: 0px auto;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.App p {
  font-weight: bold;
  color: rgb(204, 193, 93);
  margin: 6px auto;
}

.App .divfalse {
  height: 60px;
  width: 100%;
  font-size: 100%;
  background-color: rgb(228, 228, 228);
  font-weight: bold;
  border: none;
  margin: 0 auto;
}

.App button:hover {
  /* border-radius: 30px; */
  background-color: rgb(207, 207, 207);
  color: white;
}

.App .divtrue {
  color: white;
  /* border-radius: 30px; */
  /* height: 35px; */
  width: 100%;
  font-size: 100%;
  background-color: rgb(134, 134, 134);
  font-weight: bold;
  border: none;
  margin: 0 auto;
}

.App .imgheader {
  /* margin: 60px 7.5% 0% 0%; */
  margin: 60px 22.5% 0% 0%;
  width: 55%;
  position: relative;
  filter: drop-shadow(0 0 1rem rgb(0, 0, 0));
}
.App .adsr {
  margin: 0% 1% 0% 0%;
  width: 14%;
  height: 600px;
  float: right;
  position: sticky;
  border: darkblue 2px solid;
  top: 100px;
  /* background-color: rgb(219, 255, 255); */
}

.App .adsl {
  margin: 0% 0% 0% 1%;
  width: 14%;
  height: 600px;
  float: left;
  position: sticky;
  border: darkblue 2px solid;
  top: 100px;
  /* background-color: rgb(219, 255, 255); */
}
.App .adsbtm {
  /* margin-bottom: 0 auto; */
  width: 60%;
  height: 100px;
  position: fixed;
  border: darkblue 2px solid;
  bottom: 0px;
  left: 20%;
  z-index: 2;
  /* background-color: rgb(219, 255, 255); */
}
@media only screen and (max-width: 999px) {
  .App {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .App .bar {
    top: 0px;
    height: 50px;
    width: 100%;
    align-items: center;
    position: fixed;
    background-color: rgb(228, 228, 228);
    z-index: 2;
  }

  .App .allURL {
    height: 50px;
    width: 100%;
    margin: 0px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .App p {
    font-weight: bold;
    color: rgb(204, 193, 93);
    margin: 6px auto;
  }

  .App .divfalse {
    height: 100%;
    width: 90%;
    font-size: 12px;
    /* background-color: rgb(228, 228, 228); */
    font-weight: bold;
    border: none;
    margin: 0 auto;
  }

  .App button:hover {
    border-radius: 0px;
    background-color: rgb(114, 114, 114);
    color: white;
  }

  .App .divtrue {
    color: white;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    font-size: 12px;
    background-color: rgb(114, 114, 114);
    border: none;
    margin: 0 auto;
  }

  .App .imgheader {
    width: 100%;
    margin: 50px auto 0px;
  }

  .App .adsr {
    display: none;
    margin: 0px 1% 0px;
    width: 15%;
    height: 500px;
    float: right;
    position: sticky;
    border: darkblue 2px solid;
    top: 100px;
  }
  .App .adsl {
    display: none;
  }
  .App .adsbtm {
    display: none;
  }
}
